<mat-toolbar color="primary">
    <h1>{{ title }}</h1>
    <div class="text-container">
      <div class="header-text">Current Tasks: {{currentTasks.length}}</div>
      <div class="header-text">Completed Tasks: {{completedTasks.length}}</div>
    </div>

</mat-toolbar>  

<div class="container">

  <div *ngIf="editItem; then editBlock; else addBlock"></div>

    <ng-template #addBlock>
          <mat-card class="add-card">
      <h3>Add task: </h3>
      <form [formGroup]="add_form" (submit)="submitAddTask()">

        <mat-form-field>
          <input matInput formControlName="description" placeholder="Task's description">
        </mat-form-field>

          <button mat-raised-button class="edit" color="primary" matTooltip="Add new task">
              <mat-icon>add</mat-icon>
          </button>
        </form>

  </mat-card>
    </ng-template>


    <ng-template #editBlock>
     <mat-card class="edit-card"> 
      <h3>Edit task: </h3>
      <form [formGroup]="edit_form">

        <mat-form-field>
          <input matInput formControlName="description" placeholder="Task's description">
        </mat-form-field>

        <button mat-raised-button class="save" color="primary" (click)="submitSaveTask()" matTooltip="Save task">
              <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button class="cansel" color="primary" (click)="clicked = null;canselTask()" matTooltip="Cansel task">
              <mat-icon>clear</mat-icon>
        </button>        
        </form>

   </mat-card>
    </ng-template>




<div class="cont">
  <mat-card class="mat-card-container todo-list">
    <mat-card-title>Todo list:</mat-card-title>

    <mat-card-content>

    
      <ul
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="currentTasks"
      [cdkDropListConnectedTo]="[completedList]"
      class="list cdk-drag-animating"
      (cdkDropListDropped)="drop($event)"
      (cdkDropListEntered)="entered($event)"
      (cdkDropListExited)="exited($event)">

<!--http://qaru.site/questions/502891/angular2-add-class-to-item-on-click   -->
        <!--<li *ngFor="let currentTask of currentTasks; let i=index" cdkDrag [cdkDragData]="currentTask" [class.active]="clicked === currentTask" (click)="clicked = currentTask">-->
        <li *ngFor="let currentTask of currentTasks; let i=index" cdkDrag [cdkDragData]="currentTask" [ngClass]="{'active': clicked === currentTask}" (click)="clicked = currentTask;">
            <mat-card class="item">
              <mat-card-content class="content-currentTask" matTooltip="Drag task to Completed tasks">{{i+1+'. ' }}{{currentTask.description}}</mat-card-content >
            <div class="btn-container clearfix">
              <button mat-icon-button (click)="editTask(currentTask.id)" class="edit" color="accent" matTooltip="Edit task">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="deleteTask(currentTask.id)" class="delete" color="accent" matTooltip="Delete task">
                <mat-icon>delete</mat-icon>
              </button>

            </div>

            </mat-card>
          </li>
        </ul>

    </mat-card-content>
  </mat-card>





    <mat-card class="mat-card-container completed-list">
    <mat-card-title>Completed tasks:</mat-card-title>
    <mat-card-content>

      <ul
      cdkDropList
      #completedList="cdkDropList"
      [cdkDropListData]="completedTasks"
      [cdkDropListConnectedTo]="[todoList]"
      class="list cdk-drag-animating"
      (cdkDropListDropped)="drop($event)"
      (cdkDropListEntered)="entered($event)"
      (cdkDropListExited)="exited($event)">        
        <li *ngFor="let completedTask of completedTasks; let i=index" cdkDrag>
              <mat-card class="item">
                  <mat-card-content class="content-completedTask" matTooltip="Drag task to Todo list">{{i+1+'. ' }}{{completedTask.description}}</mat-card-content>
                <div class="btn-container clearfix">
                  <button mat-icon-button (click)="deleteTask(completedTask.id)" class="delete" color="accent" matTooltip="Delete task">
                    <mat-icon>delete</mat-icon>
                  </button>        
                </div>

              </mat-card>
          </li>
        </ul>

    </mat-card-content>
  </mat-card>
</div>


</div>